.SearchBar {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 2rem 1rem;
}

.advanced-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}