.Header {
  padding: 1rem 2rem;
  box-shadow: 0px 0px 15px rgba(102, 102, 102, 1);
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
}

.Header-actions {
  display: flex;
  gap: 2.5rem;
}

a {
  text-decoration: none !important;
  color: var(--color-text) !important;
}

.search {
  display: flex;
  justify-content: end;
}

/* h1 {
  margin: 0 !important;
  color: var(--color-text) !important;
} */

/* span.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-wrap: nowrap;
} */

/* .Spacer {
  display: flex;
  flex-grow: 1;
  height: 0;
} */