:root {
  --color-primary: #434343;
  --color-secondary: #646cff;
  --color-background: #bf87641a;
  --color-tertiary: #1a1a1a;
  --color-text: #242424;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  background-color: var(--color-background) !important;
}

* {
  font-family: "Lora", serif, sans-serif;
  box-sizing: border-box;
}

.Pair {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.Pair p:nth-child(1) {
  align-self: flex-start;
  margin-right: .3rem;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  text-wrap: balance;
}

h5.error {
  color: var(--color-error);
  height: 100%;
  align-content: center;
  text-align: center;
}