:root {
  --color-primary: #f9f9f9;
  --color-secondary: #646cff;
  --color-tertiary: #1a1a1a;
  --color-text: #242424;
  --color-background: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-error: #ff0000;
  --color-success: #00ff00;
  --color-warning: #ffff00;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Lora", serif, sans-serif;
  box-sizing: border-box;
}