:root {
  --color-primary: #f9f9f9;
  --color-secondary: #646cff;
  --color-tertiary: #1a1a1a;
  --color-text: #242424;
  --color-background: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-error: #ff0000;
  --color-success: #00ff00;
  --color-warning: #ffff00;
}


* {
  font-family: "Lora", serif, sans-serif;
  box-sizing: border-box;
}


.Pair {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.Pair p:nth-child(1) {
  margin-right: .3rem;
  font-size: 1.1rem;
  font-weight: 600;
}